@import './variable.scss';
body {
  margin: 0 auto;
}
.net-record {
  a {
    line-height: 25px;
  }
}
.net-police {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 25px;
  background-size: contain;
  background: url('../images/net-police.png') no-repeat center center;
}
.yen {
  color: #f56c6c;
  font-style: italic;
}
/***********layout************/
.form-title {
  text-align: center;
}
.col-2-70-30 {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 70% 30%;
}

.col-2-50-50 {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
}

.col-2-auto {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto;
}

.center-top-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.center-middle-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.el-form {
  .form-col-2 {
    width: 100%;
    display: inline-grid;
    grid-gap: 15px;
    grid-template-columns: 50% 50%;
  }
  .form-col-3 {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}
/***********table************/
.el-table th {
  background-color: #5c9cff !important;
  color: #fff;
}
/***********text************/
.text-ellipsis-inline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.breadcrumb-nav {
  font-size: 14px;
  align-items: center;
  .breadcrumb-nav-item {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    color: #e12218;
    &:hover {
      color: #e12218;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

/*********card***********/
.card-container {
  .card-filter {
    margin: 15px 0;
    .card-filter-label {
      font-size: 14px;
      color: $lable-text-color;
    }
    .card-filter-value {
      padding: 0px 15px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        color: #f56c6c;
        text-decoration: underline;
      }
    }
    .card-filter-value.active {
      color: #e12218;
      font-weight: 700;
    }
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 25px;
    margin: 15px 0;
    width: 100%;
    .card-item {
      min-width: 360px;
      max-width: 460px;
      height: 300px;
      .el-card__body {
        padding: 0;
      }
      .card-header {
        display: inline-grid;
        grid-template-columns: 60% 40%;
        width: 100%;
        .card-title {
          text-align: left;
          color: #333333;
          font-size: 20px;
          font-weight: 400;
          max-width: 220px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .control-disable {
          align-items: center;
          display: flex;
          flex-direction: row-reverse;
        }
      }
      .card-body {
        margin-top: 15px;
        color: #7c868d;
        font-size: 14px;
        letter-spacing: 1px;
        .list {
          margin-bottom: 5px;
          max-width: 325px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            margin-right: 10px;
          }
          em {
            color: #f56c6c;
            font-style: italic;
          }
        }
        .desc {
          height: 70px;
          max-height: 70px;
          padding-left: 15px;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .division {
        border: none;
        height: 1px;
        border-radius: 2px;
        background-color: #3785ff;
        background-color: #e6f1ff;
        min-width: 340px;
        max-width: 440px;
      }
      .tool-bar {
        display: grid;
        grid-template-columns: auto auto;
        .status {
          text-align: left;
          padding: 5px 5px;
          .playing {
            color: #67c23a;
          }
          .el-button {
            cursor: auto;
          }
          .created {
            color: #67c23a;
            border-color: #67c23a;
          }
          .applied {
            cursor: auto;
          }
          .rejected {
            color: #f56c6c;
            border-color: #f56c6c;
          }
          .undo {
            color: #409eff;
            border-color: #409eff;
          }
          .pause {
            color: #e6a23c;
            border-color: #e6a23c;
          }
          .publish {
            color: #67c23a;
            border-color: #67c23a;
          }
          .finished {
            color: #67c23a;
            border-color: #67c23a;
          }
        }
        .action {
          text-align: right;
          padding: 5px 5px;
          .has-apply {
            .el-badge__content {
              right: 5px;
            }
          }
          .el-button + .el-button {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
